.footer__column-link {
  color: white;
  text-decoration: none;
  display: block;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
  opacity: 1;
  transition: opacity .1s ease-in-out;
}
